body {
	margin: 0;
	padding: 0;
	background: #A6F0D3;
}

header {
	margin: 0 auto;
	padding: 0;

}

h1 {
	text-align: center;
}

.shop {
	display: flex;
	justify-content: center;
}

.shop__list1 {
	list-style: none;
	padding-right: 50px;
}
.shop__list2 {
	list-style: none;
	padding-right: 50px;
}
.shop__list3 {
	list-style: none;
	padding-right: 50px;
}
.shop__list4 {
	list-style: none;
	padding-right: 50px;
}


.shop__list_item {
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}

.shop__list_item1 {
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}
.shop__list_item2 {
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}
.shop__list_item3 {
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}
.shop__list_item4 {
	border: 1px solid #000;
	background: #fff;
}




